.best-product-block{
    padding-top: 40px;
}

.best-product-block h3{
    padding-left: 255px;
    color: #00BCD4;
    font-family: "oswald-bold";
}
.best-product-content{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.best-product-item{
    text-align: center;
    font-family: 'oswald-regular';
    color: black;
    font-size: 18px;
    margin: 40px;
}

.best-product-item span, .best-product-item .best-product-price{
    color:#607D8B;
}

@media all and (max-width: 1366px) {

    .best-product-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }

}

@media all and (max-width: 776px) {

    .best-product-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

}