/***************** NAVIGATION ********************/
.main_top_nav {
    border-bottom: 1px solid #e6e6e6;
    height: 75px;
}
.main_top_nav .main_top_nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.main_top_nav li.logo_nav {

}
.main_top_nav li.logo_nav a{
    padding:0px;
}

.main_top_nav a{
    text-decoration: none;
    display: block;
    padding-top:7px;
    padding-top: 7px;
    font-size: 14px;
    line-height: 5rem;
    font-family: 'oswald-regular',helvetica,sans-serif,arial;
    position: relative;
    display: inline-block;
    padding: 0 14px;
    text-transform: uppercase;
    color: #464547;
}
.main_top_nav a:hover{
    color: #00BCD4;
}
.main_top_nav .main_top_nav_list_item{
    width: 200px;
    color: rgb(0, 164, 183);
    text-align: center;
}

/*************** MEDIA QUERIES *******************/
@media all and (min-width: 992px){
    .main_top_nav .main_top_nav_list{
        flex-direction: row;
        justify-content: center;
    }
}

.account_info{
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    background-color: white;

}

.account_item:hover + .account_info{
    z-index: 1000;
    visibility: visible;
}


