.user-info{
    margin-left: 100px;
    margin-top: 50px;
}

.user-info input{
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 200px;
    height: 25px;
}

.user-info input[type="checkbox"]{
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 20px;
    height: 25px;
    margin: 0;
    position: relative;
    left: -23px;
    top: 7px;
}

.user-info .user-submit input{
    margin-top: 10px;
    width: 100px;
    background-color: #5cb85c;
    color: #ffffff;
}

.user-info .user-sex-male{
    padding-left: 38px;
}
.user-info .user-birthday{
    position: relative;
    left: 13px;
}

.user-info .user-phone-number{
    position: relative;
    left: -23px;
}

.user-info label{
    font-family: 'oswald-light', sans-serif, helvetica, arial;
    font-size: 17px;
    font-weight: 400;
    padding-right: 30px;
}
