@font-face {
    font-family: UniSansHeavy;
    src: url("/etc/designs/portal/clientlib-site/fonts/Uni Sans Heavy.otf");
}

@font-face {
    font-family: TabarraBlack;
    src: url("/etc/designs/portal/clientlib-site/fonts/Tabarra Black.otf");
}

ul{
    list-style: none;
}

ul li a {
    text-decoration: none;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    background: #C14646;
    padding-top:18px;
}

footer p{
    font-family: UniSansHeavy;
    text-align: center;
    color: white;
    font-size: 18px;
}