<sly data-sly-use.catalogNavigationModel="portal.models.pages.CatalogNavigationModel">
<div id="catalogNavigation">
    <nav class="catalog_navigation">
        <sly data-sly-list="${catalogNavigationModel.catalogMap}">
            <div class="mainMenuItem"><a href="${item.pagePath}.html">${item.pageTitle}</a>
                <div class="subMenu">
                        <c:forEach var="entrySubcategory" items="${entrySuperCategory.value}">
                            <div class="sub_nav_block">
                                <span class="subCategoryTitle_span">${entrySubcategory.key}</span>
                                <table class="innerSubcategoryNavigation">
                                    <c:forEach var="innerPage" items="${entrySubcategory.value}">
                                        <tr>
                                            <a href="${innerPage.path}.html">${innerPage.title}</a>
                                        </tr>
                                    </c:forEach>
                                </table>

                            </div>
                        </c:forEach>
                </div>
            </div>
        </sly>
    </nav>
</div>
</sly>



