<sly data-sly-test="${!properties.columns}">
    <h3>Please add Columns</h3>>
</sly>
<div class="column_control_block">
    <div class="column_wrapper">
        <sly data-sly-list="${properties.columns}">
            <div class="item_column" style="width:${item @ context='styleString'}%">
                <sly data-sly-test.parname="${['parsys', itemList.index] @ join=''}"></sly>
                <div data-sly-resource="${ @ path=parname ,resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>
    </div>
</div>
