.product-list-content{
    display: flex;
}
.sortPropertiesFilter{
    width: 250px;
}

.sortPropertiesFilter select{
    width: 97px;
}

.sortAttrName{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    font-family: 'Montserrat';
}

.inputs-storage{
    display: flex;
}

.itemProductList{
    display: flex;
}

.itemPriceBlock{
    border: 1px solid #C7C0C0;
}

.itemBlock{
    border-top: 1px solid #C7C0C0;
}

.sortItem{
    margin: 5px;
    margin-bottom: 20px;
}

.sortPropertiesFilter input{
    width: 100px;
}

.sortPropertiesFilter .filterCheckbox{
    width: 15px;
}