.product-list-content{
    display: flex;
}
.sortPropertiesFilter{
    width: 250px;
}

.sortPropertiesFilter select{
    width: 97px;
}

.inputs-storage{
    display: flex;
}

.sortItem{
    margin: 5px;
    margin-bottom: 20px;
}

.sortPropertiesFilter input{
    width: 100px;
}