.column_control_block{
    width: 100%;
}

.column_wrapper{
    display: flex;
}

@media screen and (max-width: 1024px){
    .column_wrapper{
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;

    }

    .item_column{
        width: 100% !important;
    }
}