.carousel-block{
    padding: 5px;
}
#portalCarousel{
    display: inline-block;
}

#portalCarousel .left-bottom {
    position: absolute;
    padding-right: 40px;
    bottom: 60px;
    left: 190px;
    border-radius: 3% 3% 15% 15%;
}

#portalCarousel .left-top {
    position: absolute;
    padding-right: 40px;
    top: 60px;
    left: 190px;
    border-radius: 3% 3% 15% 15%;
}

#portalCarousel .right-top {
    position: absolute;
    padding-right: 40px;
    top: 60px;
    right: 190px;
    border-radius: 3% 3% 15% 15%;
}

#portalCarousel .right-bottom {
    position: absolute;
    padding-right: 40px;
    bottom: 60px;
    right: 190px;
    border-radius: 3% 3% 15% 15%;
}

#portalCarousel .carousel_item_button {
    background-color: #bbea39;
    height: 40px;
}

#portalCarousel .carousel_item_button .left-bottom {

}

#portalCarousel .carousel_item_button .carousel_item_button_link {
    font-size: 20px;
    font-family: 'oswald-light';
    font-weight: 400;
    color: #504848;
    top:5px;
}

#portalCarousel .carousel_item_button_link {
    padding-left: 20px;
    position: relative;
}

#portalCarousel .carousel_item_button_link:hover {
    text-decoration: none;
}


