<div class="product-list-block" data-category="${currentPage.name}">
    <div class="number-of-product">
    </div>
    <div class="product-list-content">
        <div class="sortPropertiesFilter">
            <div class="sortItem" id="filterPrice">
                <div class="sortAttrName" data-type="price">Цена</div>
                <div class="inputs-storage">
                    <input class="inputFilter numberStartInput" id="startPrice" type="number"
                           placeholder="от">
                    <input
                            class="inputFilter numberEndInput"
                            id="endPrice"
                            type="number"
                            placeholder="до">
                </div>
            </div>
            <div class="sortItem" id="filterBrand">
                <div class="sortAttrName" data-type="simpletext">Марка(Бренд)</div>
                <select>
                    <option>Выбрать</option>
                </select>
            </div>
            <div class="sortItem" id="filterModel">
                <div class="sortAttrName" data-type="simpletext">Модель</div>
                <select>
                    <option>Выбрать</option>
                </select>
            </div>
        </div>
        <div id="itemProductList_th">
            <div class="itemProductList"></div>
        </div>
    </div>
</div>
