<div class="product-list-block" data-category="${currentPage.name}">
    <div class="number-of-product">
    </div>
    <div class="product-list-content">
        <div class="sortPropertiesFilter">
            <div class="sortItem" id="filterPrice">
                <div class="sortAttrName" data-type="price">Цена</div>
                <div class="inputs-storage">
                    <input class="inputFilter numberStartInput" id="startPrice" type="number"
                           placeholder="от">
                    <input
                            class="inputFilter numberEndInput"
                            id="endPrice"
                            type="number"
                            placeholder="до">
                </div>
            </div>
        </div>
        <div id="itemProductList_th">
            <div class="itemProductList"></div>
        </div>
    </div>

    <div class="template-product-item">
        <div class="itemBlock">
            <div class="item-image">
                <div class="item-product-title"><a href="" class="itemTitle"></a></div>
                <img class="itemImage" src="" alt="img">
            </div>
            <div class="itemDiscription"></div>
            <div class="itemPriceBlock"></div>
        </div>
    </div>
</div>

<div class="templates-properties-storage">

    <div class="sortItem portal-field-simpletext simpletext">
        <div class="sortAttrName simpletext"></div>

        <div class="filter-list-wrapper simpletext">
            <div class="filter-list simpletext">
                <div class="filter-list-item simpletext">
                    <input type="checkbox" class="filterCheckbox simpletext">
                    <span class="short-list-item-title simpletext"></span>
                </div>
            </div>
            <div class="button-count-all simpletext">
                <span class="simpletext">Всего&nbsp;</span>
                <span class="button-count-all-insert simpletext"></span>
                <span class="simpletext">&nbsp;вариантов</span>
                <span class="button-count-all-arrow simpletext">&#9654;</span>
            </div>
            <div class="full-list-container simpletext" style="display: none;">
                <div class="full-list-item simpletext">
                    <input type="checkbox" class="filterCheckbox simpletext">
                    <span class="full-list-item-title simpletext"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="sortItem portal-field-enum enum">
        <div class="sortAttrName enum"></div>

        <div class="filter-list-wrapper enum">
            <div class="filter-list enum">
                <div class="filter-list-item enum">
                    <input type="checkbox" class="filterCheckbox enum">
                    <span class="short-list-item-title enum"></span>
                </div>
            </div>
            <div class="button-count-all enum">
                <span class="enum">Всего&nbsp;</span>
                <span class="button-count-all-insert enum"></span>
                <span class="enum">&nbsp;вариантов</span>
                <span class="button-count-all-arrow enum">&#9654;</span>
            </div>
            <div class="full-list-container enum" style="display: none;">
                <div class="full-list-item enum">
                    <input type="checkbox" class="filterCheckbox enum">
                    <span class="full-list-item-title enum"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="sortItem portal-field-numberBoolean">
        <div class="sortAttrName"></div>
        <input type="checkbox" class="filterCheckbox">
        <input class="inputFilter countInput" type="number" placeholder="количество">
    </div>

    <div class="sortItem portal-field-number">
        <div class="sortAttrName"></div>
        <span class="units"></span>

        <div class="inputs-storage">
            <input class="inputFilter numberStartInput" type="number" placeholder="от">
            <input class="inputFilter numberEndInput" type="number" placeholder="до">
        </div>
    </div>

    <div class="sortItem portal-field-float">
        <div class="sortAttrName"></div>
        <span class="units"></span>

        <div class="inputs-storage">
            <input class="inputFilter numberStartInput" type="text" placeholder="от">
            <input class="inputFilter numberEndInput" type="text" placeholder="до">
        </div>
    </div>

    <div class="sortItem portal-field-attitude">
        <div class="sortAttrName"></div>
        <span class="units"></span>

        <div class="inputs-storage">
            <select class="startSelectFilter">
                <option>Выбрать</option>
            </select>
            /
            <select class="endSelectFilter">
                <option>Выбрать</option>
            </select>
        </div>
    </div>

    <div class="sortItem portal-field-interval">
        <div class="sortAttrName"></div>
        <span class="units"></span>

        <div class="inputs-storage">
            <select class="startSelectFilter">
                <option>Выбрать</option>
            </select>
            -
            <select class="endSelectFilter">
                <option>Выбрать</option>
            </select>
        </div>
    </div>

    <div class="sortItem portal-field-size">
        <div class="sortAttrName"></div>
        <div class="inputs-storage">
            <select class="startSelectFilter">
                <option>Выбрать</option>
            </select>
            x
            <select class="endSelectFilter">
                <option>Выбрать</option>
            </select>
        </div>
    </div>

</div>

</div>
